
    .btn {
        border: none;
        background-color: orchid;
        border-radius: 2px;
        cursor: pointer;
        text-decoration: none;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 18px;

    }

    a {
        color: black;
        background-color: fuchsia;
    }

    a:hover {
        color: darksalmon;
    }

    .btn:hover {
        color: rgb(42, 190, 235);
        background-color: aqua;
    }

    a:visited {
        color: cornflowerblue;
        background-color: coral;
    }

    a:active {
        color: greenyellow;
    }



