.design {

    /* background-color: #ddf1df; */
    border-radius: 9px;
    /* margin: -49px 6px; */
    /* background-color: rgb(231 226 231); */
    border-radius: 9px;
    margin-top: 3px;
}

.design ul {
    overflow: auto;
}

.design li {
    float: left;
    list-style: none;
    padding: 19px;
}

.search {
    float: right;
    margin: 9px 41px;
    float: right;
    padding: auto;
    padding: 1px 16px;
    /* border-style: solid;
    border-color: hsl(233deg 76% 44%); */
    border-radius: 17px;
    border-style: hidden;
}




.design li a {
    padding: 12px 12px;
    text-decoration: none;
    color: black;
}

.design li a:hover {
    color: rgb(14, 124, 187);
}

h3 {

   
    text-align: center;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 2em;
    margin: 36px 6px;

}

.myheader {
    border-style: solid;
    border-style: solid;
    border-color: hsl(0deg 0% 93%);
    /* background-image: url(/background.jpg);
    background-position: top; */
    background-color: #e7e0d9;
  




}